* {
  margin: 0;
  padding: 0;
  /* background-color: #282c34; */
}

/* body {
  background-color: rgb(62, 52, 68);
} */

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .cell:hover {
  background-color: rgba(31, 90, 70);
} */

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: rgb(82, 122, 159);
}

.white {
  background-color: rgb(149, 183, 215);
}

.selected {
  background-color: rgb(34, 174, 174);
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: green;
}
