* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(36, 43, 46);
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 10px rgb(70, 140, 140);
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: rgb(82, 122, 159);
}

.black:hover {
  background-color: rgb(75, 111, 145);
}

.white {
  background-color: rgb(149, 183, 215);
}

.white:hover {
  background-color: rgb(141, 173, 202);
}

.selected {
  box-shadow: 0 0 10px rgb(34, 237, 237);
}

.available {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: rgb(75, 240, 215);
  box-shadow: 0 0 10px rgb(34, 237, 237);
}

.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightblue;
}

.underAttack {
  background-color: rgb(75, 237, 213);
}

#time-h {
  color: rgb(173, 192, 209);
  margin-bottom: 20px;
}

.btn {
  background-color: aqua;
}

.lostFigureImg {
  width: 48px;
  height: 48px;
}

.lostInner {
  height: calc(50vh - 60px);
  background-color: rgb(46, 69, 77);
  padding: 10px;
}